<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit product</title>
</head>
<body>
<div align="center">
    <h1>Edit product</h1>

    <div>
        <form method="post" th:action="@{/products/{id}/edit(id=${product.id})}" th:object="${product}">

            <div>
                <label for="name">Name</label>
                <input id="name" th:field="*{name}" type="text">
            </div>

            <div>
                <label for="price">Price</label>
                <input id="price" th:field="*{price}" type="text">
            </div>

            <div>
                <a th:href="@{/products}">
                    <button class="btn btn-secondary" id="cancel" name="cancel" type="button">Cancel</button>
                </a>
                <button class="btn btn-primary" id="save" name="save" type="submit">Update</button>
            </div>
        </form>
    </div>


</div>
</body>
</html>